<div class="flex flex-column flex-50 p-right">
  <h2>Rol</h2>
  <div *ngFor="let role of curriculumVitae.roles">
    <tern-skill [skillObject]="role" [secondary]="secondary"></tern-skill>
  </div>
  <h2>Vaardigheden</h2>
  <h3>Programmeertalen</h3>
  <div *ngFor="let programmingLanguage of curriculumVitae.programmingLanguages">
    <tern-skill [skillObject]="programmingLanguage" [secondary]="secondary"></tern-skill>
  </div>
  <h3>Methoden en technieken</h3>
  <div *ngFor="let method of curriculumVitae.methods">
    <tern-skill [skillObject]="method" [secondary]="secondary"></tern-skill>
  </div>
</div>
<div class="flex flex-column flex-50 p-left">
  <h2>Frameworks</h2>
  <h3>Front-end</h3>
  <div *ngFor="let framework of curriculumVitae.frameworks.frontend">
    <tern-skill [skillObject]="framework" [secondary]="secondary"></tern-skill>
  </div>
  <h3>Back-end</h3>
  <div *ngFor="let framework of curriculumVitae.frameworks.backend">
    <tern-skill [skillObject]="framework" [secondary]="secondary"></tern-skill>
  </div>
  <h3>Continuous integration</h3>
  <div *ngFor="let framework of curriculumVitae.frameworks.continuousIntegration">
    <tern-skill [skillObject]="framework" [secondary]="secondary"></tern-skill>
  </div>
  <h3>Versie beheer</h3>
  <div *ngFor="let framework of curriculumVitae.frameworks.versionControl">
    <tern-skill [skillObject]="framework" [secondary]="secondary"></tern-skill>
  </div>
</div>
