button.pdf {
  position: absolute;
  top: 20px;
  right: 20px;
}

.filter {
  position: absolute;
  top: 25%;
  left: calc(50% - 660px);

  width: 200px;
  min-height: 50px;
  background-color: #ffffff;

  padding: 0 5px;
}

.luminis-circle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  position: relative;

  background-color: #ffffff;
  background-repeat: no-repeat;

  width: 900px;
  min-height: 100%;

  margin: auto;

  padding: 71px 75px;

  img.logo {
    position: absolute;
    right: 0;
    top: -45px;

    width: 300px;
  }

  h1 {
    color: #40879b;

    margin-top: 0;
    margin-bottom: 25px;

    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }

  table.personalia {
    width: 100%;
    tr {
      height: 25px;

      td {
        padding: 0;
      }

      td:first-child {
        width: 200px;
      }

      td.align-right {
        text-align: right;
      }
    }
  }

  .column-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;

    div.column {
      flex-basis: 50%;
      padding: 0 10px;
    }
  }

  .aligned-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  table.project {
    margin: 10px 0;

    td {
      vertical-align: top;
    }
  }

}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: #2196F3;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
}
