<div #toPdf class="luminis-circle">
  <img class="logo" src="../../assets/img/luminis-logo.png"/>
  <h1>{{curriculumVitae.name}} - Curriculum Vitae</h1>

  <h2 class="personalia">Personalia</h2>
  <table class="personalia">
    <tr>
      <td><strong>Naam</strong></td>
      <td>{{curriculumVitae.name}}</td>
      <td class="align-right" rowspan="6"><img src="../../assets/img/niekvanr.jpg" width="300"></td>
    </tr>
    <tr>
      <td><strong>Functie</strong></td>
      <td>{{curriculumVitae.personalia.function}}</td>
    </tr>
    <tr>
      <td><strong>Woonplaats</strong></td>
      <td>{{curriculumVitae.personalia.city}}</td>
    </tr>
    <tr>
      <td><strong>Geboortedatum</strong></td>
      <td>{{curriculumVitae.personalia.birthDate}}</td>
    </tr>
    <tr>
      <td><strong>Nationaliteit</strong></td>
      <td>{{curriculumVitae.personalia.nationality}}</td>
    </tr>
    <tr>
      <td><strong>Talen</strong></td>
      <td>{{curriculumVitae.personalia.languages.join(', ')}}</td>
    </tr>
  </table>

  <tern-tabs>
    <tern-tab tabTitle="Profiel">
      <h2>Profiel</h2>
      <tern-profile [curriculumVitae]="curriculumVitae"></tern-profile>
      <tern-skills [curriculumVitae]="curriculumVitae"></tern-skills>
    </tern-tab>
    <tern-tab tabTitle="Profielschets">
      <h2>Profielschets</h2>
      <p *ngFor="let alinea of curriculumVitae.profielschets">{{alinea}}</p>
    </tern-tab>
    <tern-tab tabTitle="Projectervaring">
      <h2>Projectervaring</h2>
      <p>Onderstaand vindt u een selectie van de projecten waar Niek de afgelopen jaren werkzaam in was:</p>
      <table class="project" *ngFor="let project of curriculumVitae.projects">
        <tr>
          <td><strong>Periode</strong></td>
          <td>{{project.periode}}</td>
        </tr>
        <tr>
          <td><strong>Opdrachtgever</strong></td>
          <td>{{project.opdrachtgever}}</td>
        </tr>
        <tr>
          <td><strong>Rol</strong></td>
          <td>{{project.rol}}</td>
        </tr>
        <tr>
          <td><strong>Vaardigheden</strong></td>
          <td>{{project.vaardigheden}}</td>
        </tr>
        <tr>
          <td><strong>Situatie</strong></td>
          <td>{{project.situatie}}</td>
        </tr>
        <tr>
          <td><strong>Werkzaamheden</strong></td>
          <td>{{project.werkzaamheden}}</td>
        </tr>
      </table>
    </tern-tab>
  </tern-tabs>
</div>

<button class="pdf" (click)="downloadPdf()">Download PDF</button>

<div class="filter">
  <h2>Filter</h2>
  <h3>Projecten</h3>
  <label class="checkbox-container">One
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>
