<div class="container">
  <ul class="project-list">
    <li class="item md">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
    </li>
    <li *ngFor="let project of projects; index as i" class="item" [ngClass]="project.size">
      <div class="content">
        <!-- <div class="under-construction"></div> -->
        <div class="content-image">
          <div class="image" [style.backgroundImage]="'url(' + project.headerImage + ')'" [style.backgroundPosition]="'center ' + project.headerPosition"></div>
          <div class="tag" [style.backgroundColor]="project.color">{{ project.stack | uppercase }}</div>
        </div>
        <div class="content-text">
          <h1>
            {{ project.title }}
          </h1>
          <p>
            {{ project.excerpt }}
          </p>
        </div>
        <div class="techs-used" [style.color]="'#C7C8C6'">
          <i class="fab fa-html5 fa-2x" tooltip="HTML" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.html"></i>
          <i class="fab fa-css3-alt fa-2x" tooltip="CSS" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.css"></i>
          <i class="fab fa-sass fa-2x" tooltip="SCSS" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.sass"></i>
          <i class="fab fa-angular fa-2x" tooltip="Angular" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.angular"></i>
          <i class="fab fa-js fa-2x" tooltip="Javascript" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.js"></i>
          <i class="fab fa-node-js fa-2x" tooltip="NodeJS" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.node"></i>
          <i class="fab fa-java fa-2x" tooltip="Java" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.java"></i>
          <i class="fab fa-app-store-ios fa-2x" tooltip="IOS" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.ios"></i>
          <i class="fab fa-android fa-2x" tooltip="Android" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.android"></i>
          <i class="fab fa-php fa-2x" tooltip="PHP" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.php"></i>
          <i class="fab fa-wordpress-simple fa-2x" tooltip="Wordpress" [tooltipColor]="project.color" [class.inactive]="!project.frameworks.wordpress"></i>
        </div>
        <div class="open-detail-block" openDetailBlockDirective [color]="project.color" [focus]="selectedProject === project.title" (click)="detailBlock($event, i, project)">
          <i class="fas fa-angle-down fa-2x"></i>
        </div>
      </div>
    </li>
    <li class="item detail">
      <div class="content" *ngIf="detailProject">
        <!-- <div class="under-construction"></div> -->
        <div class="content-image">
          <div *ngIf="selectedProject === 'Veldweekend'">
            <iframe src="https://ternwebdesign.nl/veldweekend/" width="320" height="490" frameborder="0" [class.visible]="displayApp"></iframe>
          </div>
          <div class="image" [class.veldweekend]="selectedProject === 'Veldweekend'" [style.backgroundImage]="'url(' + detailProject.detailImage + ')'"></div>
        </div>
        <div *ngIf="selectedProject === 'Veldweekend'" class="arrow-text" [class.visible]="displayApp">
          <p>Dit is een werkend app.</p>
          <img src="assets/img/arrow-svg-curved-6.png"/>
        </div>
        <div class="content-text">
          <h1>
            {{ detailProject.title }}
          </h1>
          <p [innerHtml]="detailProject.text">
          </p>
          <a [href]="detailProject.url" [style.backgroundColor]="detailProject.color" target="_blank">{{ 'Ga naar site' | uppercase  }}</a>
        </div>
        <i class="fas fa-times fa-2x close-button" (click)="closeDetailBlock()"></i>
      </div>
    </li>
  </ul>
</div>
